body,html{
    margin: 0px;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
   
}

.bg-image{
    /* background-image: url("../imagenes/fondo1.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%; 
}
.text{
    background-color: rgba(255,255,255,0.9);
    /* background-color: black; */
    /* display: block; */
    /* color: white; */
    padding: 60px 45px  45px;
    /* width: auto; */
    max-width: 450px;
    /* margin: 85px auto; */
    border-radius: 2px;
    font-weight: bold;
    /* border: 2px solid #f1f1f1; */
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 95%;
    /* padding: 20px; */
    /* text-align: center; */
    box-sizing: border-box;
    
}
.text h1{
    text-align: center;
}

.text p, .footer-text{
    text-align: left;
    color: #737373;
    font-size: 14px;
    font-weight: normal;
}
a{
    color: #00A1C0;
}
p{
    margin-bottom: 34px;
}
.logo{
    width: 35%;
}
.logo-img{
    text-align: center;
    margin:0px auto 60px auto
}